/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
	  -o-object-position: $position;
	     object-position: $position;
  	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
  	font-family: 'object-fit: #{$fit}';
  }
}

%img-wrap {
  position: relative;
  overflow: hidden;
}
%img-cover {
  @extend %pos-cover;
  @include object-fit(cover);
  height: 100%;
  width: 100%;
}

@mixin img-wrap($pad: 50%) {
    @extend %img-wrap;
    padding-top: $pad;
    img {
      @extend %img-cover;
    }
}

.bg-cover {
  @extend %pos-cover;
  overflow: hidden;
  img {
    @extend %img-cover;
  }
}

@mixin set-heading-color($color) {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color;
  }
}

@mixin ie-only {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
      @content;
  }
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
