.block-physician-directory {
  @extend %block-margin;
  .column-heading {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: solid 2px rgba($primary, .2);
  }
  label {
    & > span {
      font-weight: bold;
      font-size: 13px;
      color: rgba($primary, .7);
      margin-bottom: .5rem;
      display: block;
    }
  }
  input, select {
    font-size: 22px;
    padding: 1rem;
    height: auto;
    @include media-breakpoint-down(lg) {
      font-size: .9rem;
    }
  }
  .select-wrapper {
    margin-bottom: 2rem;
    div {
      position: relative;
      &::after {
        @extend %fa;
        content: '\f078';
        display: block;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($primary, .7);
        font-weight: bold;
        pointer-events: none;
      }
      select {
        -webkit-appearance: none;
      }
    }
  }
  .filters {
    &-search {
      margin-bottom: $block-margin;
      @include media-breakpoint-down(md) {
        margin-bottom: 3rem;
      }
      .btn {
        font-weight: 300;
        color: $primary;
        padding-left: .75em;
        padding-right: .75em;
        &:focus {
          box-shadow:inset 0px 0px 0px 1px rgba(0, 53, 89, .25) !important;
        }
        &:not(.a-btn) {
          background-color: $light;
          &:hover {
            background-color: darken($light, 15%);
          }
        }
      }

      .search-label {
        margin-bottom: 1.5rem;
        span {
          //font-size: 1rem;
          //color: $secondary;
          @extend h3;
        }
        input {
          border-color: $primary;
        }
      }
    }
    &-sort {
      padding-right: calc(#{$column} / 2);
      @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
      }
    }
  }
  #directory-list {
      tbody {
        tr {
          &:not(:last-child) {
            .single-doc {
              margin-bottom: 2rem;
            }
          }
        }
      }
      .sorting.sorting_asc, .sorting.sorting_desc  {
        position: absolute;
        width: auto;
        right: 0;
        top: -2.5rem;
      }
  }
  .single-doc {
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(#003559, .1);
    background-color: #fff;
    padding: 2rem calc(#{$column} / 4);
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding: $column;
      padding-left: 0;
      padding-right: 0;
    }
    .photo {
      flex: 0 0 20%;
      margin-right: calc(#{$column} / 3);
      .img-wrap {
        @include img-wrap(100%);
      }
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 80%;
        .img-wrap {
          margin: 0 auto;
          width: 300px;
          max-width: 100%;
          padding-top: 65%;
        }
      }
      @include media-breakpoint-down(xs) {
        .img-wrap {
          width: 200px;
        }
      }
    }
    .content {
      padding-top: 1rem;
      flex: 0 0 calc(80% - #{$column} / 3);
      max-width: calc(80% - #{$column} / 3);
      &-inner {
        line-height: 1.75;
        @include media-breakpoint-down(lg) {
          flex-direction: column;
        }
        a {
          font-weight: bold;
          text-decoration: underline;
        }
        & > div {
          &:first-child {
            padding-right: calc(#{$column} / 3);
            flex-shrink: 0;
          }
          &:last-child {
            flex-grow: 1;
          }
        }
      }
    }
  }

  #directory-list_wrapper {
    & > .row {
      &:first-child {
        display: none;
      }
      &:last-child {
        & > div {
          &:first-child {
            display: none;
          }
          &:last-child {
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }
    .dataTables_paginate.paging_simple_numbers {
      text-align: center;
      border-top: solid 2px rgba($primary, .2);
      margin-top: 3rem;
      .pagination {
        list-style-type: none;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        .paginate_button {
          margin: 0 .5rem;
          &.disabled {
            pointer-events: none;
          }
          @include media-breakpoint-down(md) {
            margin: 0 .25rem;
          }
          a {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-default;
            @include media-breakpoint-down(md) {
              padding: .5em .5em;
            }
          }
          &:last-child, &:first-child {
            a {
              @extend .btn-white;
            }
          }
          &.active {
            a {
              @extend .btn-secondary;
            }
          }
        }
      }
    }
  }
}
