footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: 400;
  @include media-breakpoint-down(md) {
    font-weight: 300;
    & > .row:first-child {
      & > div {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }
  a {
    color: $yellow;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
  .social-media {
    text-align: right;
    font-size: 1.25rem;
    @include media-breakpoint-down(md) {
      text-align: left;
      margin-top: 2rem;
      font-size:  1.5rem;
    }
    li {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
  .main-logo {
    margin-bottom: 1rem;
  }
  .bottom-bar {
    padding-top: 2rem;
    margin-top: 1.5rem;
    position: relative;
    &::before {
      border-top: solid 2px rgba(255, 255, 255, .25);
      @extend %pseudo;
      height: 2px;
      left: 10px; right: 10px; top: 0;
    }
  }
  .footer-sidebar {
    .widget {
      &title {
        font-size: 1.188rem;
        font-family: $body-font;
        margin-bottom: 2rem;
      }
      .menu {
        list-style-type: none;
        padding-left: 0;
        ul {
          list-style-type: none;
          li {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}
